body {
    margin: 0 auto;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 215, 215);
}

.attribution {
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.card {
    width: 250px;
    padding: 15px;
    background-color: white;
    border-radius: 5%;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 3%;
}

.text {
    font-family: sans-serif;
    padding: 8px;
    text-align: center;
}

.text h2 {
    font-size: 0.9em;
}

.text p {
    font-size: 0.75em;
    color: gray;
}